/.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
gradle/
log/
src/main/java/com/example/domain/
src/main/java/com/example/service/
src/main/java/com/example/util/
src/main/java/com/example/web/
src/main/resources/static/
src/main/resources/templates/
